
body {
  margin: 0;
  background-color: #cbf3ff;
}
#app {
  width: 1280px;
  margin: 0 auto;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  & li {
    margin: 0;
    padding: 0;
  }
}
button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}
.buttons_container {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
  & .button + .button {
    margin-left: 50px;
  }
}
.results {
  display: flex;
  flex-direction: column;
  width: 1100px;
  min-height: 350px;
  margin: 0 auto;
  margin-bottom: 50px;
  border-radius: 20px;
  background-color: #FFFFFF;
  padding: 30px;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 3px;
  height: 3px;
}
::-webkit-scrollbar-button {
  background-image:url('');
}
::-webkit-scrollbar-track {
  background-color: #ffffff;
}
::-webkit-scrollbar-track-piece {
  background-color: #ffffff;
}
::-webkit-scrollbar-thumb {
  height: 20px;
  background-color: #3964a6;
  border-radius: 3px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input {
  outline: none;
}